.bgimage {
	-fx-background-image: url("Account_Recovery_Password_background.jpg");
	-fx-background-repeat: no-repeat;
  	-fx-background-size: cover;
        -fx-opacity: 0.4;
}
.button {
    -fx-background-color: #d6a0f2;
    -fx-background-radius: 50px;
}

.button:hover {
	-fx-background-color: #7833c2;
	-fx-text-fill: white;
}
