/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2021, 10:44:21 PM
    Author     : USER
*/
.bgimage {
	-fx-background-image: url("cpass.jpg");
	-fx-background-repeat: no-repeat;
        -fx-background-size: cover;
        -fx-opacity: 0.15;
}
.button {
    -fx-background-color: #d6a0f2;
    -fx-background-radius: 50px;
}

.button:hover {
	-fx-background-color: #7833c2;
	-fx-text-fill: white;
}